{{! Previous/next page links - only displayed on page 2+ }}
<div class="extra-pagination inner">
    {{pagination}}
</div>

<div class="normal-ads">
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2675553538448246" data-ad-slot="9377414815" data-ad-format="auto"></ins>
</div>
{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}

<article class="{{post_class}} ">
    {{#if image}}
        <a href="{{url}}">
            <div class="post-min-cover" style="background-image: url({{image}});"></div>
        </a>
    {{/if}}
    <div class="post-info">
        <header class="post-header">
            <h2 class="post-title"><a href="{{url}}" title="{{{title}}}">{{{title}}}</a></h2>
        </header>
        <section class="post-excerpt">
            <p><a class="read-more" href="{{url}}">{{excerpt characters="120"}} ...</a></p>
        </section>
        <footer class="post-meta">
            {{author}}
            <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
        </footer>
    </div>
</article>
{{/foreach}}

<div class="full-ads">
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-2675553538448246" data-ad-slot="4947215213" data-ad-format="auto"></ins>
</div>
{{! Previous/next page links - displayed on every page }}
{{pagination}}