
<nav class="main-nav nav clearfix">
	{{^is "index"}} 
		{{#if @blog.logo}}
			<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>
		{{/if}}
	{{/is}}
	<ul {{#is "index"}}style="display:block;"{{/is}}>
		{{#foreach navigation}}
			<li class="nav-{{slug}}{{#if current}} nav-current{{/if}}" role="presentation">
				<a href="{{url absolute="true"}}">{{label}}</a>
			</li>
		{{/foreach}}
	</ul>
	{{^is "index"}}
		<a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
	{{/is}}
</nav>

<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  heigth="44" width="44">
	<filter id="backdrop-blur">
  		<feGaussianBlur stdDeviation="3"></feGaussianBlur>
	</filter>
</svg>